{% extends "course_selling_tutor/dashboard_base.html" %}


{% block heading %}
<p>Add Author</p>

{% endblock heading %}
{% block content %}
<form action="/manage-author2/{{author.id}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author Profile</th>
                <td> <input type="file" name="image"> </td>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <td><input type="text" name="name" value="{{author.name}}"></td>
            </tr>
            <tr>
                <th scope="col">About Author</th>
                <td> <textarea id="about" name="about" rows="8" cols="80">{{author.about_author}}</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-primary px-4" value="Save">
                    <a href="/delete-author/{{author.id}}" class="btn btn-danger px-4">Delete</a>
                </td>
    
            </tr>
        </thead>
    </table>
    
</form>

{% endblock content %}