{% extends "course_selling_tutor/dashboard_base.html" %}


{% block heading %}
<p>Add Author</p>

{% endblock heading %}
{% block content %}
<form action="/manage-course/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Feature Photo</th>
                <td> <input type="file" name="image"> </td>
            </tr>
            <tr>
                <th scope="col">Feature Video</th>
                <td><input type="text" name="fvideo"></td>
            </tr>             
            <tr>
                <th scope="col">Title</th>
                <td><input type="text" name="title"></td>
            </tr>             
            <tr>
                <th scope="col">Author</th>
                <td> 
                    <select name="author" aria-label="Default select example">
                        {% comment %} {% for author in authors %} {% endcomment %}
                        <option value="{{user.first_name}}" selected>{{user.first_name}}</option>
                        {% comment %} {% endfor %} {% endcomment %}
                        
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="col">Category</th>
                <td> <input type="text" name="category"></td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td> <textarea id="about" name="description" rows="8" cols="80"></textarea></td>
            </tr>
            <tr>
                <th scope="col">Price</th>
                <td> <input type="text" name="price"></td>
            </tr>
            <tr>
                <th scope="col">Validity Days</th>
                <td> <input type="text" name="vdays"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary px-4" value="Save"></td>
            </tr>
            
        </thead>
    </table>
    
</form>

{% endblock content %}