<header>
    <nav class="navbar navbar-expand-lg mb-5 px-5 border-bottom" style="background-color:9CD7FF">
        <div class="container-fluid">
            <a class="navbar-brand fs-1 px-4" href="{% url 'index' %}">
                <img src="/static/assets/images/Photo/logo3.png" height="70px" width="60px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'become_a_tutor' %}">Become a Tutor</a>
                    </li>      
                </ul>
            </div>
            <form class="d-flex" role="search" method="get" action="/search/">
                <input class="form-control me-2" type="search" placeholder="Search Course" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </nav>
</header>